*/target
target
tmp
*~
lib
bin
*/test-output
temp-testng-customsuite.xml
**pom.xml.releaseBackup
local.properties
release.properties
project.properties
*.iws
*.iml
gen
/seed.txtnoteslogsgen-external-apklibs.ideaout.DS_Storeclasses.classpath.projectlogcat.txttest-output/
.gradle
*/build
build
app/src/main/libs/
app/src/main/obj/
**/jniLibs
*.prefs



*.pyc
gradle-app.setting
*/gradle/wrapper/gradle-wrapper.properties
*/gradle/wrapper/gradle-wrapper.jar
*/app/src/test/java/com/jonecx/ExampleUnitTest.java
*/.idea/copyright/profiles_settings.xml
*/.idea/runConfigurations.xml
*/.idea/modules.xml
*/.idea/misc.xml
*/.idea/gradle.xml
*/.idea/encodings.xml
*/.idea/compiler.xml
*/settings.gradle
*/gradlew.bat
*/gradlew
*/gradle.properties
